body{
    width: 100%;
    height: 100%;
    background:url('https://playentry.org/uploads/l3/gl/l3gl9mmfllqdat3t1pw47ec049gdcb3r.png') no-repeat center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{ 
    margin:0 auto;
}
