body{
    height: 100vh;
    background-size: cover;
    background:url('https://playentry.org/uploads/4d/jk/4djkb7qbllqchtjb0wo67ec049b8fxen.png') no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{ 
    margin:0 auto;
}
